/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
::-webkit-input-placeholder {
    font-size: 1.0rem;
    color: #808080;
}
::-moz-placeholder {
    font-size: 1.0rem;
    color: #808080;
}
:-ms-input-placeholder {
    font-size: 1.0rem;
    color: #808080;
}
::placeholder {
    font-size: 1.0rem;
    color: #808080;
}

.main_section{
    width: 100%;
    height: 100vh;
    background: #313131;
    color: #f1f1f1;
    overflow: hidden;
    padding: 50px 150px;
}
nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_left_section{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
}
.logo_section{
    display: flex;
    align-items: center;
    column-gap: 1.0rem;
    color: #f1f1f1;
    font-size: 1.4rem;
    font-weight: 600;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
ul{
    display: inline-block;
}
li{
    display: inline-block;
    margin-left: 1.5rem;
}
nav li a{
    color: #f1f1f1;
    font-size: 1.15rem;
    font-weight: 500;
}

.nav_right{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.search_input{
    width: 250px;
    height: 38px;
    background: transparent;
    border: 1px solid #808080;
    outline: none;
    padding: 0 15px;
    font-size: 1.0rem;
    color: #808080;
    border-radius: 4px;
}


.hero_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.hero_data{
    width: 62%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    row-gap: 1.2rem;
}



/* END */