/*  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
::-webkit-input-placeholder {
    font-size: 1.0rem;
    color: #808080;
}
::-moz-placeholder {
    font-size: 1.0rem;
    color: #808080;
}
:-ms-input-placeholder {
    font-size: 1.0rem;
    color: #808080;
}
::placeholder {
    font-size: 1.0rem;
    color: #808080;
}

.main_section{
    width: 100%;
    height: 100vh;
    background: #1d1d1d;
    /* background: #f9f9f9; */
    color: #f1f1f1;
    /* color: #292929; */
    overflow: hidden;
    padding: 50px 150px;
}
nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_left_section{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
}
.logo_section{
    display: flex;
    align-items: center;
    column-gap: 1.0rem;
    color: #f1f1f1;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
ul{
    display: inline-block;
}
li{
    display: inline-block;
    margin-left: 1.5rem;
}
nav li a{
    color: #f1f1f1;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    transition: 0.5s ease-out;
}
nav li .active{
    font-size: 1.2rem;
    font-weight: 600;
    color: #309ac7;
}
nav li a:hover{
    color: #309ac7;
}

.nav_right{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.toggle_mode_section{
    /* background: #fff; */
    width: 30px;
    height: 30px;
}
.search_input{
    width: 250px;
    height: 38px;
    background: transparent;
    border: 1px solid #808080;
    outline: none;
    padding: 0 15px;
    font-size: 1.0rem;
    color: #ebebeb;
    border-radius: 4px;
}


.hero_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.hero_data{
    width: 45%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 0.7rem;
}
.discount_title{
    font-size: 1.2rem;
    font-weight: 400;
    color: #309ac7;
    letter-spacing: 0.15rem;
}
.title{
    font-size: 2.1rem;
    font-weight: 500;
    color: #f1f1f1;
    letter-spacing: 0.1rem;
}
.brand_name{
    font-size: 6.5rem;
    font-weight: bolder;
    letter-spacing: 0.15rem;
    color: #309ac7;
    text-transform: uppercase;
}
.desc{
    font-size: 1.09rem;
    color: #808080;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    margin-bottom: 1.8rem;
}
.shop_now{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background: #309ac7;
    border: 2px solid #309ac7;
    font-size: 1.1rem;
    color: #292929;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.shop_now:hover{
    background: transparent;
    border: 2px solid #309ac7;
    color: #309ac7;
}


.hero_img{
    width: 50%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_img img{
    width: 100%;
    height: 100%;
}


/* Light Mode */



/* END */