/*  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

:root{
    /* For Dark Mode */
    --bg-dark: #1d1d1d;
    --primary-dark: #f1f1f1;
    --secondary: #309ac7;
    --tertiary: #808080;
    --search-color: #ebebeb;
    --text-shadow-dark: 3px 3px 10px rgba(255, 255, 255, 0.1);

    /* For Light Mode */
    --bg-light: #f9f9f9;
    --logo-light: #1d1d1d;
    --primary-light: #292929;
    --text-shadow-light: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder {
    font-size: 1.0rem;
    color: var(--tertiary);
}
::-moz-placeholder {
    font-size: 1.0rem;
    color: var(--tertiary);
}
:-ms-input-placeholder {
    font-size: 1.0rem;
    color: var(--tertiary);
}
::placeholder {
    font-size: 1.0rem;
    color: var(--tertiary);
}

.main_section{
    width: 100%;
    height: 100vh;
    background: var(--bg-dark);
    color: var(--primary-dark);
    overflow: hidden;
    padding: 50px 150px;
}
nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_left_section{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
}
.logo_section{
    display: flex;
    align-items: center;
    column-gap: 1.0rem;
    color: var(--primary-dark);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
ul{
    display: inline-block;
}
li{
    display: inline-block;
    margin-left: 1.5rem;
}
nav li a{
    color: var(--primary-dark);
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    transition: 0.5s ease-out;
}
nav li .active{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary);
}
nav li a:hover{
    color: var(--secondary);
}

.nav_right{
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}
#toggle-icon {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('./img/sun.png');
    background-size: contain;
    cursor: pointer;
}
.search_input{
    width: 250px;
    height: 38px;
    background: transparent;
    border: 1px solid var(--tertiary);
    outline: none;
    padding: 0 15px;
    font-size: 1.0rem;
    color: var(--search-color);
    border-radius: 4px;
}

/* Hero Section */
.hero_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.hero_data{
    width: 45%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 0.7rem;
}
.discount_title{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary);
    letter-spacing: 0.15rem;
}
.title{
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--primary-dark);
    letter-spacing: 0.1rem;
}
.brand_name{
    font-size: 6.5rem;
    font-weight: bolder;
    letter-spacing: 0.15rem;
    color: var(--secondary);
    text-transform: uppercase;
    text-shadow: var(--text-shadow-dark);
}
.desc{
    font-size: 1.09rem;
    color: var(--tertiary);
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    margin-bottom: 1.8rem;
}
.shop_now{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background: var(--secondary);
    border: 2px solid --secondary;
    font-size: 1.1rem;
    color: var(--primary-light);
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.shop_now:hover{
    background: transparent;
    border: 2px solid --secondary;
    color: var(--secondary);
}


.hero_img{
    width: 50%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_img img{
    width: 100%;
    height: 100%;
}


/* Light Mode */
.light-mode {
    background: var(--bg-light);
    color: var(--primary-light);
}
.light-mode .logo_section{
    color: var(--logo-light);
}
.light-mode nav li a{
    color: var(--primary-light);
}
.light-mode nav li .active{
    color: var(--secondary);
}
  
.light-mode #toggle-icon {
    background-image: url('./img/sun.png');
}
.light-mode .search_input{
    color: var(--primary-light);
}
.light-mode .title{
    color: var(--primary-light);
}
.light-mode .brand_name{
    text-shadow: var(--text-shadow-light);
}
  



/* END */