/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_section{
    width: 100%;
    height: 100vh;
    background: #313131;
    color: #f1f1f1;
    overflow: hidden;
}



/* END */