/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.main_section{
    width: 100%;
    height: 100vh;
    background: #313131;
    color: #f1f1f1;
    overflow: hidden;
    padding: 50px 150px;
}

nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_left_section{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.logo_section{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: #f1f1f1;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}



/* END */